<!DOCTYPE html>
<html lang="en">
<head>
    <title>Plantasia</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">
</head>
<body>
	<div id="containerIndex">
	    <h1 id="titleIndex">Plantasia</h1>
	    <p id="subtitleIndex">The purpose of Plantasia is to explore the electric pulses—the ‘heartbeats’—of plants in a novel manner by taking the raw data from specialized electrodes, transforming it into sound waves, and applying different synthesizers in order to create music.</p>
    </div>
</body>
</html>